.header {
  background-color: white;
  color: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 9%;
  height: auto;
  max-height: 50%;
  align-items: left;
  margin-left: 5px;
  background: none;
  border-radius: 10px;
}
.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 40px;
  border-radius: 10px;
}

.button:hover {
  background-color: white;
  color: black;
}
