.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    color: black;
    gap: 36px; /* equivalent to gap-9 */
  }
  
  .hero h1 {
    font-weight: 800; /* equivalent to font-extrabold */
    font-size: 45px;
    text-align: center;
    margin-top: -304px; /* equivalent to mt-16 */
  }
  
  .hero h1 span {
    color: #f56551;
  }
  
  .hero p {
    font-size: 0.5 rem; /* Reducing text size to 10px */
    line-height: 1.4rem;
    color: black; /* equivalent to text-gray-400 */
    text-align: center;
  }
  .text{
    font-size: 10px;
  }
  
  @media (min-width: 1024px) {
    .hero p {
      font-size: 1.875rem; /* equivalent to lg:text-3xl */
      line-height: 2.25rem;
    }
  }
  
  .hero .button {
    margin-top: 32px; /* equivalent to mt-8 */
  }
  